@model ICollection<KancelarWeb.Uzivatel>


@foreach (var item in Model)
{
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Html.DisplayFor(modelItem => item.Prijmeni) @Html.DisplayFor(modelItem => item.Jmeno)</li>
    </ul>
}



